body {
    background-color: olivedrab;
    margin: 0;

}

.paralax-container {
    min-height: 100vh;
    position: relative;
}
.paralax-container.alt {
    background-color: lavenderblush;
    position: relative;
}

.paralax-item {
    
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.paralax-item img {
    max-width: 100%;
    max-height: 100%;
}

/* .block {
    background-color: #fff;
    width: 100px;
    height: 100vh;
}

.block2 {
    background-color: #fff;
    width: 200px;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
} */
